<main class="py-4 mt-4">
<h1 class="mx-5 my-3 text-center title-blue">Edit tweet</h1>
        <header class="my-4 ">
        <%= render "form", tweet: @tweet %>
        </header>
<%= link_to "< Back to tweets", tweets_path ,class:"back-btn mt-4" %>
</main>